/* Header Style */
body{
  margin:0px;
  padding:0px;
  box-sizing: content-box;
}
.nav-link{
  position: relative;
  transition: color 0.3s ease;
}

.navbar-brand{
    color: #ff6600;
    font-size:xx-large;
    font-family: serif;
    font-weight: bold;
    padding:5px;
}
.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: #ff6600;
  transition: width 0.3s ease;
}

.nav-link:hover {
  color: #ff6600;
  transform: scale(1.2);
}
.nav-link:hover::after {
  width: 100%;
}
.nav-link:active {
  
  color:#f4f4f3;
}

/* Body style */
.body{
    height: 60vh;
    display: flex;
    justify-content:space-between;
    justify-items: center;
    width:90%;
    margin:5%;
}
.container-image{
    width:45%;
    height:60vh;
    /* border: 1px solid black; */
    overflow: hidden;
     border-radius: 3%;
 }
 .container-text{
    width:45%;
    height:60vh;
    padding:8px;
    /* border: 1px solid black; */
    overflow: hidden;
        border-radius: 3%;
 }
#hi{
  width: 100%;
  height: 60vh;
  object-fit: cover; 
  overflow: hidden;
  border-radius: 3%;
}
.btn {
  background: linear-gradient(45deg, #ff512f, #f09819);
  color: white;
  border: none;
  padding: 12px 30px;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
    justify-content: space-between;
  margin:20px;
}
/* main style */
.main{
    background-image: url('bg-img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    height:100vh;
    padding: 5%;
    width:98vw;
    position: relative;
}



.main-title{
    color:#f09819;
    font-weight: 600;
    font-size: xx-large;
}
.main-text{
    color:#f4f4f3;
    margin-top: 5%;
}

/* footer by  */
.footer {
  /* background: linear-gradient(45deg, #ff512f, #f09819); */
  /* color: white; */
  color: #ff6600;
  background-color: #1f1f1f;
  padding: 50px 10%;
  /* border-radius: 20px 20px ; */
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
}

.footer-about {
  flex: 1 1 250px;
}

.footer-about h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.footer-about span {
  color: #fffacd;
}

.footer-about p {
  font-size: 0.95rem;
  line-height: 1.6;
  color: #fff8f2;
  max-width: 350px;
}

.footer-links, .footer-contact {
  flex: 1 1 200px;
}

.footer-links h4,
.footer-contact h4 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  font-weight: 600;
  color: #fff9e8;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}
.footer-links a {
  color: #fff8f2;
  text-decoration: none;
  transition: all .5s ease;
}
.footer-links a:hover {
  color: #1f1f1f;
  background: #fff;
  padding: 6px;
  border-radius: 10px;
}

/* foods */
.card{
  margin: 5%;
}
.image-food{
  width:100%;
  height:20%;
  padding:5px;
}



/* drink  */

.card-main{
    display:flex;
    flex-Wrap:wrap;
    width:100%;
      justify-content: center;
      gap: 2vw;
 }
.card-drink{
  width:30%;
  height:70vh;
  padding: 2vw;
  border-radius: 1vw;
  border: 1px solid rgb(120, 118, 118);
}
.text-card{
  width:100%;
  height:30%;
}
.image-card{
  width:100%;
  height:70%;
}

/* food  cart */
.card-food{
  width:30%;
  height:70vh;
  padding: 2vw;
  border-radius: 1vw;
  border: 1px solid rgb(120, 118, 118);
}
.text-card{
  width:100%;
  height:30%;
}
.image-card{
  width:100%;
  height:70%;
}




/* about */
.about-title{
  color:#f09819;
  display: flex;
  justify-content: center;
  border-bottom:2px solid #f09819;
  position: sticky;
}
.about{
  display: flex;
  width:100%;
  padding:5%;
}
.about-text{
  width:60vw;
}
.about-img{
  width:40vw
}
.div{
  width:200px;
  height:200px;
  background-color:#f09819;
  border-radius: 50%;
  border:2px solid black;
}
.div-main{
   display: flex;
  flex-direction: row;
  gap:8%;
  margin:1%;
  margin-top: 10%;
}
.div-text{
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
}























/* media Queries */
@media (max-width: 990px) {
  .body {
    flex-direction: column;
    height: auto;
  }

  .container-image,
  .container-text {
    width: 100%;
    height: auto;
    margin:10px;
    
  }

  .container-text {
    text-align: center;
  }

  .button {
    justify-content: center;
  }
}





































